<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Список задач</h4>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
            <th>#</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Приоритет</th>
            <th>Дата</th>
            <th>Статус</th>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks let i = index" [class.completed]="task.isCompleted">
                <td [class.novalue]="task.category===null">{{i+1}}</td>
                <td [class.novalue]="task.category===null">{{task.title}}</td>
                <td [class.novalue]="task.category===null">{{task.category?.title}}</td>
                <td [class.novalue]="task.category===null">{{task.priority?.title}}</td>
                <td [class.novalue]="task.category===null">{{task.date | date:'short'}}</td>
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" 
                             value="" [checked]="task.isCompleted"
                             (click)="toggleTaskCompleted(task)">
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                         </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>